{% extends "layout.html" %}
{% block title %}All Products{% endblock %}

{% block content %}
<div class="item-list-header">
  <h2>All Products</h2>
  <a href="{{ url_for('shop.manage_product') }}" class="add-btn">+ Add Product</a>
</div>

<div class="item-list">
  {% for product in products %}
    <div class="item-wrapper">
      <input type="checkbox" class="item-check">
      <a href="{{ url_for('shop.manage_product', product_id=product.product_id) }}" class="item-link">
        <img src="{{ product.img_url }}" alt="{{ product.product }}" class="item-img">
        <div class="item-info">
          <h3>{{ product.name }}</h3>
        </div>
        <div class="item-meta">
          ${{ product.price }}
        </div>
      </a>
    </div>
  {% else %}
    <p>No products yet.</p>
  {% endfor %}
</div>
{% endblock %}
