<nav>
  <ul>
    <li>
        <a href="{{ url_for('shop.view_products') }}"
           class="{% if request.endpoint == 'shop.view_products' %}active{% endif %}">
           <i data-lucide="box"></i> Products
        </a>
    </li>
    <li>
      <a href="{{ url_for('shop.view_orders') }}"
          class="{% if request.endpoint == 'shop.view_order_detail' %}active{% endif %}">
        <i data-lucide="shopping-cart"></i> Orders
      </a>
    </li>
    <li>
      <a href="{{ url_for('shop.view_customers') }}"
         class="{% if request.endpoint == 'shop.view_customers' %}active{% endif %}">
        <i data-lucide="users"></i> Customers
      </a>
    </li>
  </ul>
</nav>

<script>
  lucide.createIcons();
</script>
